<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdngit .shopify.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Nếu không có biểu tượng của page thì thay link -->
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <!-- Nếu cả 2 font không phải là font chữ hệ thống thì dùng font mặc định -->
    {%- unless settings.type_page_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    
    <!-- page_title Trả về tiêu đề của page  -->
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <!-- page_description trả về descrip tương ứng trong admin -->
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %} 

    <!-- Nó tự động tải tất cả các tập lệnh theo yêu cầu của Shopify vào đầu tài liệu. -->
    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_page_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_page_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
    

    <!-- Bộ lọc FONT_FACE có một đối số FONT_DISPLAY tùy chọn để tùy chỉnh thuộc tính FONT-Display của khai báo FONT-Face. -->
    <!-- font-display Cung cấp cho mặt phông chữ một khoảng thời gian khối cực nhỏ và một khoảng thời gian hoán đổi vô hạn. -->
    {% style %}
      {{ settings.type_page_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_page_font.family }}, {{ settings.type_page_font.fallback_families }};
        --font-body-weight: {{ settings.type_page_font.weight }};
        --font-body-weight-bold: {{ settings.type_page_font.weight | plus: 300 | at_most: 1000 }};
        
        --color-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-text-primary: {{ settings.colors_text_primary.red }}, {{ settings.colors_text_primary.green }}, {{ settings.colors_text_primary.blue }};
        --color-text-secondary: {{ settings.colors_text_secondary.red }}, {{ settings.colors_text_secondary.green }}, {{ settings.colors_text_secondary.blue }};
        --background-primary: {{ settings.background_primary.red }}, {{ settings.background_primary.green }}, {{ settings.background_primary.blue }};
        --background_secondary: {{ settings.background_secondary.red }}, {{ settings.background_secondary.green }}, {{ settings.background_secondary.blue }};
        --background-third: {{ settings.background_third.red }}, {{ settings.background_third.green }}, {{ settings.background_third.blue }};
        --background-btn: {{ settings.background_btn.red }}, {{ settings.background_btn.green }}, {{ settings.background_btn.blue }};
        --background-btn-secondary: {{ settings.background_btn_secondary.red }}, {{ settings.background_btn_secondary.green }}, {{ settings.background_btn_secondary.blue }};
      }
      
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'grid.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'dealer.css' | asset_url | stylesheet_tag }}
    {{ 'contact.css' | asset_url | stylesheet_tag }}
    {{ 'FQA.css' | asset_url | stylesheet_tag }}
    {{ 'history.css' | asset_url | stylesheet_tag }}
    {{ 'product_detail.css' | asset_url | stylesheet_tag }}
    {{ 'product.css' | asset_url | stylesheet_tag }}
    {{ 'shop.css' | asset_url | stylesheet_tag }}
    {{ 'responsive.css' | asset_url | stylesheet_tag }}
    {{ 'res-contact.css' | asset_url | stylesheet_tag }}
    {{ 'res-dealer.css' | asset_url | stylesheet_tag }}
    {{ 'res-his.css' | asset_url | stylesheet_tag }}
    {{ 'res-product-detail.css' | asset_url | stylesheet_tag }}
    {{ 'res-faq.css' | asset_url | stylesheet_tag }}
    {{ 'res-shop.css' | asset_url | stylesheet_tag }}
    {{ 'res-contact.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_page_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

  </head>

  <body>

    {% section 'announcement-bar' %}
    {% section 'header' %}
    
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      <!-- Đối tượng Content_For_Layout được yêu cầu trong chủ đề.liquid. Nó phải được đặt bên trong thẻ HTML <body>. Nó tự động tải nội dung được tạo bởi các mẫu khác như index.liquid hoặc sản phẩm.liquid. -->
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
    <script src="{{ 'addPaddingImageWidthText.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'playVideo.js' | asset_url }}" defer="defer"></script>

  </body>
</html>