<div class="collection">
  <div class="collection-wrap">
    <div class="collection-img">
      {%- if collection.image != blank -%}
        <img width="{{ image.width }}" height="{{ image.height }}" loading="lazy" src="{{ collection.image | image_url: width: 720, height: 720 }}"/>
      {%- elsif collection.image == blank -%}
        <img width="{{ image.width }}" height="{{ image.height }}" loading="lazy" src="{{ section.settings.img | image_url: width: 1720, height: 1720 }}"/>
      {%- endif -%}
    </div>

    <div class="collection-content grid wide1 {% if section.settings.options == 'center' %} text-center {% endif %} ">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            <h2 class="heading collection-heading {{ block.settings.optionSize }} {{ block.settings.optionColor }}">
              {{ collection.title }}
            </h2>
          {% when 'Description' %}
            <div class="collection-text {% if section.settings.options == 'center' %} width-unset {% endif %} {{ block.settings.optionColor }}">
              {{ collection.description }}
            </div>
          {% when 'Link' %}
            <a href="{{ block.settings.more_link }}" class="collection-more text-color">
              {{ block.settings.Link }}
              {% if block.settings.Link != blank %}
                {% render 'icon-arrow-right-white' %}
              {% endif %}
            </a>
          {% when 'Button' %}
            <a href="{{ block.settings.Botton_url }}" class="btn">
              {{ block.settings.Button }}
            </a>
        {% endcase %}
      {% endfor %}

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Collection",
  "settings": [
    {
      "type": "select",
      "label": "Options content",
      "id": "options",
      "options": [
        {
          "label": "Text center",
          "value": "center"
        },
        {
          "label": "Text left",
          "value": "left"
        }
      ]
    },
    {
      "type": "image_picker",
      "label": "Background image",
      "id": "img"
    }
  ],
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "select",
          "label": "Options size heading",
          "id": "optionSize",
          "options": [
            {
              "label": "Large",
              "value": "large"
            },
            {
              "label": "Medium",
              "value": "medium"
            },
            {
              "label": "Small",
              "value": "small"
            }
          ]
        },
        {
          "type": "select",
          "label": "Options color heading",
          "id": "optionColor",
          "options": [
            {
              "label": "Dark color",
              "value": "dark"
            },
            {
              "label": "Light color",
              "value": "light"
            }
          ]
        }
      ]
    },
    {
      "name": "Description",
      "type": "Description",
      "settings": [
        {
          "type": "select",
          "label": "Options color description",
          "id": "optionColor",
          "options": [
            {
              "label": "Dark color",
              "value": "dark"
            },
            {
              "label": "Light color",
              "value": "light"
            }
          ]
        }
      ]
    },
    {
      "name": "Link",
      "type": "Link",
      "settings": [
        {
          "type": "text",
          "label": "Link",
          "id": "Link",
          "default": "SEE MORE"  
        },
        {
          "type": "url",
          "id": "more_link",
          "label": "Link"
        }
      ]
    },
    {
      "name": "Button",
      "type": "Button",
      "settings": [
        {
          "type": "text",
          "label": "Button",
          "id": "Button",
          "default": "BACK TO SHOPPING NOW"  
        },
        {
          "type": "url",
          "label": "Botton url ",
          "id": "Botton_url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Collection",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "Description"
        },
        {
          "type": "Link"
        },
        {
          "type": "Button"
        }
      ]
    }
  ]
}
{% endschema %}