
{% if cart == empty %}
  <div class="container cart-empty">
    <h1 class="cart-empty__heading">Your cart is empty</h1>
    <a href="{{ routes.all_products_collection_url }}" class="btn btn--cart-empty">Continue shopping</a>
  </div>
{% else %}
  <form action="{{ routes.cart_url }}" method="post" id="cart">
    <div class="container">
    
      <div class="cart">
        <div class="cart-open dfs">
          <h1 class="cart-open__heading">
            Your cart ({{ cart.item_count }})
          </h1>
          <a href="{{ routes.all_products_collection_url }}" class="cart-open__link">Continue shopping</a>
        </div>
    
        <table class="cart-items">
          <thead>
            <tr class="cart-item__headings">
              <th class="cart-item__heading-title"> Product </th>
              <th class="cart-item__heading-quantity"> Quantity </th>
              <th class="cart-item__heading-total" > Total </th>
            </tr>
          </thead>
          
          <tbody>
            {% for item in cart.items %}
              <tr>
                <td class="cart-item ">
                  <div class="cart-item__detail">
                    <img src="{{ item.image | image_url: width: 300 }}"
                      class="cart-item__detail-image"
                      alt="{{ item.image.alt | escape }}"
                      loading="lazy"
                      width="150"
                      height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}">
    
                    <div class="cart-item__detail-info">
                      <a href="{{ item.url }}">
                        {{ item.product.title | escape }}
                      </a>
                    </div>
                  </div>
                  
                  <div class="cart-item__quantity">
                    <quantity-input class="quantity option-amount cart-item__count">
                      <button class="quantity__button no-js-hidden" name="minus" type="button" onclick="this.parentNode.querySelector('.product__quantity-input').stepDown()">
                        <i class="bi bi-dash"></i>
                      </button>
                      <input class="quantity__input product__quantity-input"
                        type="number"
                        name="updates[]"
                        value="{{ item.quantity }}"
                        min="0"
                        id="Quantity-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                      >
                      <button  class="quantity__button no-js-hidden" name="plus" type="button" onclick="this.parentNode.querySelector('.product__quantity-input').stepUp()">
                        <i class="bi bi-plus"></i>
                      </button>
                    </quantity-input>

                    <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                      <a href="{{ item.url_to_remove }}" class="button--tertiary">
                        Remove
                      </a>
                    </cart-remove-button>
                  </div>
      
                  <div class="cart-item__totals">
                    {{ item.final_line_price | money }}                 
                  </div>               
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    
    
      <div class="cart__bottom">
        <div class="cart__bottom-total">
      
          <p class="cart__bottom-subtotal">
            Subtotal: 
            <span> {{ cart.total_price | money_with_currency }} </span>
          </p>
          
          <div class="cart__bottom-btn">

            <button type="submit" name="update" class="btn btn--secondary update-cart">Update</button>

            <button type="submit" id="checkout" class="btn cart__bottom-checkout" name="checkout">
              Checkout
            </button>
          </div>

          
        </div>
      
      </div>
    </div>

  </form>
{% endif %}


<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

